<div class="container">
  <form [formGroup]="createPetForm" (ngSubmit)="submitForm($event)">
    <h3 class="text-center mb-3 mt-4">Pet Store | Create Pet</h3>

    <div class="row jumbotron">
      <div class="col-sm-6 form-group">
        <label for="name-pet">Pet Name</label>
        <input type="text" class="form-control" formControlName="petName" name="petName" id="name-pet" placeholder="Enter pet name." required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="category-pet">Pet Category</label>
        <input type="text" class="form-control" formControlName="petCategory" name="petCategory" id="category-pet" placeholder="Enter pet category " required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="url-photo">Pet Photo Url</label>
        <input type="url" class="form-control" formControlName="photoUrl" name="photoUrl" id="url-photo" placeholder="Enter pet url" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="tag">Select Tags</label>
        <input type="text"  class="form-control" formControlName="tag" name="tag" id="tag" placeholder="Enter Tag" required>
      </div>

      <div class="col-sm-6 form-group">
          <label for="status">Status</label>
          <select formControlName="status" name="status" id="status" >
            <option *ngFor="let stat of statusList">
              {{stat}}
            </option>
          </select>
      </div>

      <div class="col-sm-12 form-group mb-0">

        <button class="btn btn-primary float-right" type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>



