<div class="container">
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h2 class="text-center mb-3 mt-4">Pet Store | Login</h2>

    <div class="row jumbotron">

      <div class="col-sm-6 form-group">
        <label for="uname">User name</label>
        <input type="text" class="form-control" formControlName="username" name="uname" id="uname" placeholder="Enter your user name." required>
      </div>

      <div class="col-sm-6 form-group">
        <label for="pass">Password</label>
        <input type="Password" name="password" class="form-control" formControlName="password" id="pass" placeholder="Enter your password." required>
      </div>

      <div class="col-sm-12 form-group mb-0">

        <button class="btn btn-outline-dark float-left" type="button" routerLink="/signup">Create User</button>

        <button class="btn btn-primary float-right" type="submit">Submit</button>
      </div>

    </div>
  </form>
</div>
